@import "base";

/* Fixed layout for home page */
/* Layout based on blocks + floats, vs. tables, to allow for login arrow */

// $fixed-width: 1050;
$fixed-width: 950;
$feature-button-slice: 1.8;

$strip-button-opacity: 0.5;

body {
  min-width: inherit;
}

div.wrapper {
    margin: 0 auto;
    @include rem(margin-top, 20);
    @include rem(margin-bottom, 20);
    @include rem(padding, 20);
    @include rem(min-width, 920);
    width: 90%;
}

.navbar-inner {
    @include rem(width, $fixed-width);
    @include rem(min-width, $fixed-width);
    margin-left: auto;
    margin-right: auto;
}

.container.centered {
    @include rem(width, $fixed-width);
    min-width: inherit;
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;

    .logo {
        display: block;
        float: left;
    }

    .login {
        display: block;
        float: left;
        text-align: center;

        #login-button {
            margin-top: 25%;
        }
    }

}

.container.header {
    // @include rem(padding-left, 40);
    // @include rem(padding-right, 20);
    padding-bottom: 0;

    .search-form {
        @include rem(width, 590);
        display: block;
        float: left;
        padding-left: 0;
    }
}

.navbar-inner {
    padding-left: 0;
    padding-right: 0;
}

#search-login {

    @include rem(margin-bottom, -20);
    padding: 0;
    @include rem(padding-top, 10);

    .search-form {
        padding-left: 0;
        @include rem(width, 810);
        display: block;
        float: left;
    }

    #search {

        margin: 0;
        @include rem(padding, 50);
        @include rem(line-height, 25);

        width: 98%;
    
        h1 {
            @include rem(font-size, 22);
            font-weight: bold;
        }
    
        h2 {
            @include rem(font-size, 20);
            font-weight: bold;
            position: absolute;
            left: 0;
            @include rem(top, -25.5);
            display: inline-block;
            float: left;
            color: #4F4F4F; 
        }

        p {
            @include rem(margin-bottom, 5);
            @include rem(font-size, 14);
            @include rem(line-height, 20);
        }

        .search-tabs {
            width: 82%;
            @include rem(margin-bottom, -4);
        }

        form {
            position: relative;
        }

        .what-to-search-hint {
            color: #6d6d6d;
            text-align: right;
            font-style: italic;
            @include rem(margin-top, 25);
            @include rem(font-size, 12);

            a {
                @include rem(padding-left, 18);
                background: url('../img/icon_question.png') no-repeat 0% center;             
            }
        }

        fieldset {
            width: 83%;
            background: #fff;
            z-index: 10;

            button.button {
                position: absolute;
                @include rem(top, -6);
                @include rem(right, -(125 + 6));
                bottom: 0;
                display: inline-block;
                @include rem(height, 40);
                @include rem(width, 125);
                margin: 0;
                padding: 0;

                text-align: left;

                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                @include rem(padding-left, 16);

                background: #696969 url('../img/search.png') no-repeat 95% center; /*png24*/
                z-index: 0;

                &:hover {
                    background-color: #848383;
                }

            }

        }

        .search-extra-options {
            width: 100%;

            label {
                float: right;
                margin-right: 2%;
            }
        }

        &:after {
            content: "";
            display: table;
            clear: both;
            height: 0;
        }

    }

    .login-banner {
        display: block;
        float: left;
        vertical-align: top;
        @include rem(width, 140);

        background: rgba(253, 209, 22, 0.2);
        border-top: none;

        position: relative !important;

        div {
            @include rem(padding-left, 20);
            @include rem(padding-right, 20);
            @include rem(padding-top, 10);
            @include rem(padding-bottom, 10);
            @include rem(min-height, 260);
            @include rem(width, 140);
        }

        h2 {
            @include rem(margin-bottom, 5);
            color: #3a3938;
            font-size: 1.4em;
            font-weight: bold;
            line-height: 1.3em;

            .username {
                -ms-word-break: break-all;
                word-break: break-all;

               word-wrap: break-word; 
            }

        }

        p {
            @include rem(margin-bottom, 5);
            color: #525152;
            font-size: 1.2em;
            line-height: 1.4em;

            a {
                color: #924a0b; /* different link color on yellow for contrast */

                &:hover {
                    color: #d56d11;
                    border: none;

                }

            }

        }

    }

    .not-logged-in:before {
        content: "";
        display: block;
        position: absolute;
        padding: 0;
        width: 0;
        height: 0;
        left: 0;
        bottom: 100%;

        @include rem(border-bottom-width, 34);
        border-bottom-style: solid;
        border-bottom-color: rgba(253, 209, 22, 0.2);
        // border-bottom:34px solid rgba(253, 209, 22, 0.2);
        @include rem(border-left-width, 70);
        border-left-style: solid;
        border-left-color: transparent;

        @include rem(border-right-width, 70);
        border-right-style: solid;
        border-right-color: transparent;

        // border-left:70px solid transparent;
        // border-right:70px solid transparent;        
    }
}

#options {

    position: relative;
    padding-left: 0;
    padding-right: 0;
    @include rem(margin-bottom, 30);

    display: block;

    .blurb {
        @include rem(font-size, 16);
        z-index: 1000;

        @include rem(width, 275);
        @include rem(padding-left, 20);

        display: block;
        float: left;
        vertical-align: top;

        p {
            @include rem(margin-top, 4);
        }

        p:first-child {
            margin-top: 0;
            @include rem(margin-bototm, 10);
        }

        .challenge {
            @include rem(font-size, 12);
            text-transform: uppercase;
            white-space: nowrap;
            font-weight: bold;
            color: #4F4F4F;
        }

    }

    #stripes {

        display: block;
        float: left;
        @include rem(width, 675);
        vertical-align: top;

        margin-top: 0;
        padding: 0;
        background: #f9f8f5 url('../img/homepage/stripes.png');

        .feature {
            @include span-columns($feature-button-slice,9);
            @include rem(min-height, 90);
            @include rem(height, 75);
            // padding: 18px 0;
            padding: 0;
            @include rem(padding-top, 14);
            @include rem(padding-bottom, 18);
            margin-right: 2.5%;

            div {
                // width: 140px;
                background: #FFFEFB;
                background: rgba(255,254,251,$strip-button-opacity);
                border: 1px solid #e8e4e4;
                border-radius: 6px; 

                @include rem(height, 175);

                &:hover {
                    background-color: #fffefb;
                }
            }

            p {
                @include rem(padding, 5);
                @include rem(padding-right, 3);
                @include rem(padding-left, 3);
                font-size: 1.2em;
                color: #424242;
                line-height: 1.2em;
                text-align: center;
                @include rem(width, 110);
                @include rem(margin-top, -8);
                margin-left: auto;
                margin-right: auto;
                @include rem(margin-bottom, 4);
                @include rem(min-height, 65);
            }

            a.browse,
            a.online,
            a.mobile { /* images-button things */
                display: block;
                margin-left: auto;
                margin-right: auto;
                @include rem(padding-top, 75);
                @include rem(padding-right, 8);
                @include rem(padding-left, 8);
                @include rem(padding-bottom, 5);
                @include rem(height, 110);
                @include rem(width, 110);
                color: #b15a0d;
                @include rem(line-height, 12);
                @include rem(font-size, 11);
                @include rem(letter-spacing, 1);
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                background-image: url('../img/homepage/browse.png');
                background-repeat: no-repeat;
                background-position: 50% 15px;
                // background: #FFFEFB url('../img/homepage/browse.png') no-repeat 50% 15px; /*png24*/;
                // background: rgba(255,254,251,$strip-button-opacity) url('../img/homepage/browse.png') no-repeat 50% 15px; /*png24*/
                // border: 1px solid #e8e4e4;
                // border-radius: 6px; 
                }

            a.browse:hover,
            a.online:hover,
            a.mobile:hover { /* images-button things hover */
                background-color: #fffefb;
                color: #d56d11;
                }
                
            a.online { 
                background-image: url('../img/homepage/read-online.png')
                // background: rgba(255,254,251,$strip-button-opacity) url('../img/homepage/read-online.png') no-repeat 50% 15px; /*png24*/
                }

            a.mobile {
                background-image: url('../img/homepage/read-mobile.png')
                // background: rgba(255,254,251,$strip-button-opacity) url('../img/homepage/read-mobile.png') no-repeat 50% 15px; /*png24*/
                }           

        }

        .download {
            @include omega;

            @include rem(width, 140);
            @include rem(height, 200);

            text-align: center;

            background: rgba(253, 209, 22, 0.2);
            border-color: transparent;


            @include rem(margin-right, 1);


            div {
                background: url('../img/homepage/download.png') no-repeat 50% 15px; /*png24*/;
                height: 141px;
                border-color: transparent;

                br { display: none; }

                &:hover {
                    // LAME
                    background: url('../img/homepage/download.png') no-repeat 50% 15px; /*png24*/;
                }

            }

            .task {

                display: block;
                // padding: 75px 15px 0;
                @include rem(padding-top, 75);
                @include rem(padding-left, 15);
                @include rem(padding-right, 15);
                padding-bottom: 0;
                color: #696969;
                line-height: 1.2em;
                font-size: 1.1em;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: .1em;

            }

            .footnote { /* asterisked text */
                display: block;
                // margin: 10px 10px 0 10px;
                @include rem(margin, 10);
                @include rem(margin-left, 15);
                @include rem(margin-right, 15);
                color: #333234;
                font-style: italic;
                font-weight: normal;
                text-align: left;
                text-transform: none;
                letter-spacing: .1em;
                @include rem(font-size, 11);
            }

        }

    }

}

#arrow { /* div creating the "arrow" over the stripes */
    float: left;
    margin: 0;
    padding: 0;
    @include rem(padding-bottom, 3);
    width: 0;
    background: transparent;
    border-bottom: 100px solid #f9f8f5; 
    @include rem(border-bottom-width, 100);
    border-top: 100px solid #f9f8f5; 
    @include rem(border-top-width, 100);
    border-right: 100px solid transparent;
    @include rem(border-right-width, 100);
    }


/* YELLOW ARROW TEST */
#top-arrow {
    padding: 0;
    width: 0;
    border-bottom:40px solid #fcf5d9;
    border-left:70px solid #fffefb;
    border-right:75px solid #fffefb;
    @include rem(border-bottom-width, 40);
    @include rem(border-left-width, 70);
    @include rem(border-right-width, 75);
    }
/* END YELLOW ARROW TEST */

/* NEWS/PROJECTS AREA */
#news-projects {
    background: #f0f0ef;
    @include rem(font-size, 13);
    width: 100%;

    ul li {
        display: inline;
        float: left;
        @include rem(width, 230);
    }

    .news-inner {
        display: table;
        padding: 0;
        @include rem(padding-top, 30);
        @include rem(padding-bottom, 20);
        padding-left: 0;
        @include rem(width, $fixed-width);
        margin-left: auto;
        margin-right: auto;

        h3 {
            @include rem(font-size, 12);
        }

        h1 {
            @include rem(margin-bottom, 15);
            font-size: 1.2em;
            font-weight: bold;
            color: #6b6a6b;
            text-transform: uppercase;
        }

        h2 {
            @include rem(margin-bottom, 8);
            font-size: 1.2em;
            font-weight: bold;
            color: #39383a;
            line-height: 1.2em;
        }

        p {
            @include rem(font-size, 12);
            @include rem(line-height, 16);
            color: #39383a;
        }

        .headline {
            color: #6b6a6b;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 0;

        }

        .left {
            display: table-cell;
            vertical-align: top;
            width: 45%;

            border-right: 1px solid #ddd;
            @include rem(border-right-width, 1);

            > div { padding-left: 0; }

            p.more {
                float: right; width: 25%; text-align: right;
                @include rem(margin-right, 48);
                @include rem(margin-top, -20);
            }

        }

        .right {
            display: table-cell;
            vertical-align: top;
            width: 55%;

            > div {
                @include rem(padding-left, 20);
                padding-right: 0;
            }

            .latest-tweet {

                background: #fff;
                @include rem(padding, 16);

                position: relative;
                border: 5px solid #fff;
                @include rem(border-size, 5);

                box-shadow: rgba(0,0,0,0.1) 0 1px 10px;

                p {
                    color: #39383a;

                    margin-top: 0;

                    .timestamp {
                        text-transform: uppercase;
                        color: #7f7e7f;
                    }

                }

                & > a {
                    text-align: right;
                    display: block;
                }

                &::before {
                    @include rem(top, -20);
                    bottom: auto;
                    left: auto;
                    @include rem(right, 40);
                    // border-width: 0 20px 20px;
                    @include rem(border-width, 20);
                    border-width-top: 0;


                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-color: #fff transparent;
                    display: block;
                    width: 0;
                }

            }

            .social {

                .buttons {
                    margin-top: 0;
                    @include rem(margin-bottom, 30);
                    a {
                        @include rem(font-size, 18);
                        text-decoration: none;
                        border-bottom: none;

                        @include rem(width, 16);
                        @include rem(height, 16);
                        @include rem(padding, 8);
                        @include rem(margin-right, 5);
                        padding-left: 0;
                        padding-top: 0;

                        display: inline-block;

                        span {
                            text-indent: -9000px;
                            clip: rect(0, 0, 0, 0);
                            display: inline-block;
                        }

                    }

                    .twitter-link {
                        color: #4099ff;
                        &:hover {
                            color: #60a9fe;
                        }
                    }

                    .pinterest-link {
                        color: #e00002;
                        &:hover {
                            color: #f20103;
                        }
                    }

                    .facebook-link {
                        color: #3b5998;
                        &:hover {
                            color: #4265ad;
                        }
                    }

                }                
            }

        }


    }

}

/* END NEWS/PROJECTS AREA */

.bold {
    font-weight: bold;
}

.footer.navbar {
    margin-top: 0;
}
    
.modal.login-modal.in {
    right: auto !important;
    left: 60% !important;
}