.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.alert,
.alert h4 {
  color: #c09853; }

.alert h4 {
  margin: 0; }

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847; }

.alert-success h4 {
  color: #468847; }

.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.alert-danger h4,
.alert-error h4 {
  color: #b94a48; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad; }

.alert-info h4 {
  color: #3a87ad; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0; }

.alert-block p + p {
  margin-top: 5px; }


  .alert {
    color: #6f5629; }

  .alert-danger, .alert-error {
    color: #a23f3d; }

  .alert-success {
    color: #3b723b; 

    a:hover, a:focus {
      color: #855932;
    }
  }

  .alert-info {
    background-color: #f9f8f5;
    color: #565656;
    border-color: #666; }

  .alert {
      position: relative;
  }

  .alert-help {
    font-size: 90%;
    color: #666;
    margin: 0.5rem 2rem;
  }

  @mixin alert-badge($icon, $top:25) {
      content: $icon;
      font-family: 'icomoon';
      font-style: normal;
      speak: none;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      // @include rem(top, 12);
      top: $top + '%';
      left: 0.6rem;
      font-size: 1.2rem;
  }

  .alert-warning, .alert-error, .alert-success, .alert-notice {
    padding-left: 2.5rem;
  }

  .alert-warning:not(.alert-plain):before {
    @include alert-badge("?");
  }

  .alert-error:before {
    @include alert-badge("\e902");
  }

  .alert-error.alert-block:before {
    @include alert-badge("\e902", 15);
  }

  .alert-success:before {
    @include alert-badge("K");
  }

  .alert-block.alert-notice:before {
    @include alert-badge("\e000");
  }

  // alert-info does not have an icon
  .alert.alert-info {
    padding-right: 14px;
  }

  .alert[dir='rtl'] {

    padding-left: 0;
    padding-right: 2rem;

    &:before {
      left: auto;
      right: 0.6rem;
    }
  }

  .alert:empty {
    display: none;
  }

  .alert-headline {
      text-align: center;
      margin-top: 2rem;

      >p {
          font-size: 200%;
          font-weight: bold;
      }

  }

  .alert.alert-banner {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 1.5rem;
      font-size: 1.2rem;
      text-align: center;
      border-radius: 0;
      animation: slideUp 0.4s ease;
      border-top: 1px solid rgba(0,0,0,0.33);
      z-index: 2147483645;

      // display: flex;
      // align-items: center;
      // justify-content: center;
      // gap: 1rem;

      & .close {
          position: absolute;
          right: 2rem;
          top: 50%;
          transform: translateY(-50%);
      }

      button[data-action="close"] {
        margin-left: 1rem;
      }
  }

  #aup-alert-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background: #333;
    color: #eee;
    text-shadow: none;
    border: 1px solid white;

    a {
      color: orange;
    }

    button {
      background: #000;
      color: #fff;
      border: 1px solid #ccc;

      &:hover {
        border-color: #fff;
      }
    }

  }

  .alert.alert-banner p:first-of-type {
      margin-top: 0;
  }

  .alert.alert-banner p:last-of-type {
      margin-bottom: 0;
  }

  .xbadge {
      display: inline-block;
      padding: .25em .4em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .xbadge-dark {
      color: #fff;
      background-color: #343a40;
  }

  @mixin animation($name, $duration, $count, $delay) {
      animation-name: $name;
      animation-duration: $duration;
      animation-delay: $delay;
      animation-iteration-count: $count;
      -webkit-animation-name: $name;
      -webkit-animation-duration: $duration;
      -webkit-animation-delay: $delay;
      -webkit-animation-iteration-count: $count;
      -moz-animation-name: $name;
      -moz-animation-duration: $duration;
      -moz-animation-delay: $delay;
      -moz-animation-iteration-count: $count;
      -o-animation-name: $name;
      -o-animation-duration: $duration;
      -o-animation-delay: $delay;
      -o-animation-iteration-count: $count;
  }

  @mixin keyframes($name) {
      @-webkit-keyframes $name {
          @content;
      }
      @-moz-keyframes $name {
          @content;
      }
      @-o-keyframes $name {
          @content;
      }
      @keyframes $name {
          @content;
      }
  }
