nav.pagination-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  -ms-grid-columns: 8rem auto 8rem;
  grid-template-columns: 8rem auto 8rem;
  align-items: baseline;

  margin-top: .75rem;
  padding: .5rem 1.25rem;
  background-color: #f9f8f5;
  color: #565656;
  border-color: #666;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -ms-grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li a, li span {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      min-width: 1.5rem;
      min-height: 2rem;
      margin: 0 0.125rem;

      &.break {
        min-width: auto;
      }
    }

    // li a {
    //   text-decoration: none;
    //   &:hover {
    //     text-decoration: underline;
    //   }

    //   &.page-advance-link {
    //     min-width: 8rem;
    //     // --- bit of fishrappr?
    //     // border: 1px solid #666;
    //     // border-radius: 8px;
    //   }
    // }
  }

  .page-back-link {
    -ms-grid-column: 1;
  }

  .page-advance-link {
    -ms-grid-column: 3;
    text-align: right;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.relative {
  position: relative;
  padding: 0 0.5rem;
}

.nav-search-form.focused {
  .global-search-modal {
    display: block;
  }
}

.global-search-modal {
  display: none;

  position: absolute;
  height: 2.5rem * 4;
  top: -5px;
  left: 0;
  right: 0;
  background: #fff;
  border: 0px solid #666;
  box-shadow: 16px 20px 35px rgba(0,0,0,0.8);
  z-index: 40;

  color: black;

  a {
    color: #924a0b;
    text-decoration: underline;
    padding-left: 0.5em;

    &:hover {
      background: transparent;
      color: $link-hover-color;
      text-decoration: none;
    }
  }

}

.global-search-modal-inner {
  margin-top: 3rem;
  padding: 0 1rem 1rem;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.control {
  // z-index: 50;
  margin-right: 0.25rem;
}

.control-q1 {
  flex-grow: 1;
}

button.control-search {
  background-color: #666;
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  border-color: #333;

  &:hover {
    background: #000c;
  }
}

