$min-desktop-width: 62rem;

:root {
  --background: #39383a;
}

$navbar-item-padding: 0.5rem 0.5rem;
$navbar-item-margin: 0.25rem 0.25rem 0.25rem;

footer {
  background: $navbar-bgcolor;
  color: $navbar-color;
  grid-area: footer;
  z-index: 1;
  nav {
    padding: 0 0.5rem;
    max-width: 62rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
        margin: 0;

        // align-items: center;

        a {
          padding: $navbar-item-padding;
          margin: $navbar-item-margin;
          color: white;
          // text-transform: uppercase;
          display: block;
          white-space: nowrap;
          text-decoration: none;

          &:hover {
            background: #6b6a6b;
            color: #fcfcfc;
          }
        }
      }
    }
  }
}

header {
  background: $navbar-bgcolor;
  color: $navbar-color;
  grid-area: header;
  z-index: 25;

  nav {
    padding: 0 0.5rem;
    max-width: 62rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0;
        margin: 0;
      }

      li > span {
        padding: $navbar-item-padding;
        margin: $navbar-item-margin;
        display: block;
      }


      a {
        padding: $navbar-item-padding;
        margin: $navbar-item-margin;
        color: white;
        // text-transform: uppercase;
        display: block;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
          background: #6b6a6b;
          color: #fcfcfc;
        }

        &.action-login {
          background: #fdd116;
          color: #000;
          padding: 0.4rem 1rem;
          border-radius: 4px;
          border: 1px solid #bbb;
          border-color: #00000026 #00000026 #00000040;
          text-transform: uppercase;

          &:hover, &:focus {
            background: #fde26e;
            border-color: #fcde5b;
            color: black;
          }
        }
      }
    }
  }
}

li.menu.nav-links {
  & > ul {
    display: inline-flex;
  }
  & > a {
    display: none;
  }
  li.menu {
    position: relative;
    & > ul {
      display: none;
    }
  }
  li.menu > ul {
    display: none;
  }
}

a[aria-expanded="true"] {
  // background: #000;
  
  & + ul {
    position: absolute;
    z-index: 1000;

    display: flex !important;
    flex-direction: column;
    // align-items: normal;
    // justify-content: normal;

    // margin-top: 0.5rem;
    background: #39383a;

    li.only-collapsed {
      display: list-item;
    }

    .not-collapsed {
      display: none !important;
    }
    
    a[aria-expanded] {
      cursor: default;
      opacity: 0.75;
      &:hover {
        background: transparent;
      }
      .caret {
        display: none;
      }
    }
  }

  & + ul ul {
    align-items: normal;
  }
}

header {
  nav {
    .dropdown-item {
      color: white;
      padding: 0.5rem 0.5rem;
      // margin: 0.25rem 0.25rem 0.25rem;
      margin: 0.25rem 0;
      margin-left: 0.25rem;
      border-radius: 0.25rem;
      color: white;
      display: block;
      white-space: nowrap;
      text-decoration: none;
      width: 96%;

      &:hover {
        background: #6b6a6b;
        color: #fcfcfc;
      }

      &:focus {
        outline: 4px solid #eee;
        outline-offset: 0px;
        background: #6b6a6b;
        color: #fcfcfc;
      }
    }

    &[data-mode="small"] {
      #burger-menu {

        li.nested {
          a {
            padding-left: 1.5rem;
          }
        }

        span.dropdown-header {
          color: #ccc;
          font-size: 1rem;
          padding: 0.5rem 0.5rem;
        }

        // a.dropdown-toggle {
        //   .caret {
        //     display: none;
        //   }

        //   &::after {
        //     display: none;
        //   }

        //   &[disabled] {
        //     color: #ccc;
        //     pointer-events: none;

        //     &:focus, &:hover {
        //       background: inherit;
        //       outline: none;
        //     }
        //   }
        // }

        // a.dropdown-item {
        //   padding-right: 1rem;
        // }

        // .dropdown-menu {
        //   display: block;
        //   position: static;
        //   border: none;
        //   background: #39383a;

        //   li {
        //     // margin-left: 1rem;
        //     a {
        //       padding-left: 1rem;
        //     }
        //   }
        // }
      }
    }
  }
}

.home-link {
  display: flex;
  &::before {
    background-image: url(/common/unicorn/img/HT-logo-square-sm.png);
    background-repeat: no-repeat;
    content: "";
    display: none;
    border: 1px dotted transparent;
    height: 35px;
    width: 37px;
    padding: 0;
    margin-right: 0.5rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
}

.on-for-narrow {
  display: none;
}

html[data-app="pt"] {

  .home-link::before {
    display: block;
  }
  
  .container-header {
    display: none !important;
  }

  li.on-for-pt {
    display: list-item !important;
  }

  @media screen and ( max-width: 62em ) {
    li.item-vanishing {
      display: none !important;
    }
  }
}

header {
  nav {

    span.dropdown-header {
      color: #ccc;
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
    }

    li.nested a {
      padding-left: 1.5rem;
    }

    #burger-menu-container {
      display: none;
    }

    @media screen and ( max-width: 53rem ) {
      #burger-menu-container {
        display: list-item;
      }

      li.wide {
        display: none;
      }

      #about-menu-container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 53em) {
  
  .logo { display: none; }
  .search-modal-content {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
  }
  
  .home-link::before {
    display: block;
  }

  // li.on-for-narrow {
  //   display: list-item;
  // }

  li.menu.nav-links {
    & > a {
      display: block;
    }
    & > ul {
      display: none;
    }
    li.menu {
      & > a {
        // display: none;
        text-decoration: none;
      }
      & > ul {
        display: flex;
        flex-direction: column;
        a {
          text-indent: 1rem;
        }
      }
    }
  }
  li.item-vanishing {
    display: none !important;
  }
}

@media screen and ( max-width: 47rem ) {
  li.on-for-narrow {
    display: list-item;
  }
  
  html:not([data-app="ls"]):not([data-app="catalog"]) {
    .container-header {
      display: none;
    }
  }

  html[data-app="ls"], html[data-app="catalog"], html[data-app="home"] {
    .on-for-pt.on-for-narrow {
      display: none;
    }
  }

}

.on-for-narrowest {
  display: none;
}

@media screen and (max-width: 38em) {
  nav {
    a,
    button {
      // font-size: 0.8rem;
    }

    #login-link {
      font-size: 1rem;
    }

  }

  .search-modal-content {
    #ht-search-form {
      & > div {
        display: block !important;

        label[for="q1"] {
          position: static !important;
          height: auto;
          width: auto;
          display: block;
          clip: reset;
        }

        #action-search-hathitrust {
          margin-bottom: 1rem;
        }
      }

      .global-search-links {
        margin-top: 0 !important;
      }
    }
  }

  .off-for-narrowest {
    display: none;
  }

  .offscreen-for-narrowest {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  .home-link::before {
    margin-right: 0;
  }

  .offscreen-for-narrowest {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  li.on-for-narrowest {
    display: list-item;
  }

  header nav ul li {
    margin-left: -0.5rem;
    & + li {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 24em) {
  header {
    nav {
      padding: 0.25rem 0;

      #burger-menu {
        margin-left: 0;
      }

      a,
      button {
        // font-size: 0.9rem !important;
        padding: 0.5rem;
      }
    }
  }
}

// html.desktop.no-mobile {
@media (min-width: 62em) {

  body {
    min-width: $min-desktop-width;
  }

  .flex-container {
    display: flex;
  }

  .sidebar-container {
    max-width: 18rem;
  }

  .for-mobile {
    display: none !important;
  }

  main > .container {
    min-width: $min-desktop-width;
  }
}

@media only screen and (max-width:62em) {

  // height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);

  html, body {
    overflow-x: hidden;
  }

  #root {
    overflow-x: hidden;
    width: 100vw;
  }

  .for-mobile {
    display: block;
  }

  .not-mobile {
    display: none !important;
  }

  .container-medium {
    width: auto;
    max-width: 100vw;
  }

  #sidebar:not(.sidebar-container--right) {
    background: #fff;
    // position: fixed;
  }

  .btn.for-mobile {
    display: inline-block;
  }

  main.main-container {
    padding: 0;
    display: block;

    & > .container.container-boxed {
      margin: 0;
      margin-top: 0 !important;
      padding: 0;
      box-shadow: none;
      display: flex;
      flex-direction: column;

      // justify-content: space-between;
      // background: chocolate;

      min-width: 0;
      border: 0;
    }
  }

  .container-boxed .section-container {
    margin: 1rem;
  }

  #sidebar:not(.sidebar-container--right) {
    // display: none;
    max-width: none;
    min-width: 0;
    width: 95%;
    max-height: 100vh;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 0.5rem;
    z-index: 1;

    button.sidebar-toggle-button[aria-expanded] {
      background: $toolbar-background-color; // #666;
      border-top: 1px solid #fff;
      color: #fff;

      i.icomoon.icomoon-sidebar-toggle::before {
        content: "\ea43";
        font-size: 1.5rem;
      }

      &[aria-expanded="true"] {
        margin-bottom: 1rem;

        i.icomoon.icomoon-sidebar-toggle::before {
          content: "\ea41";
        }
      }
    }

    button[aria-expanded="false"] ~ * {
      display: none;
    }

    // button[aria-expanded="false"] ~ .panel, 
    // button[aria-expanded="false"] ~ .scrollable,
    // button[aria-expanded="false"] ~ #mdpBackToResults
    //  {
    //   display: none;
    // }

    .scrollable {
      overflow: visible;
      padding-bottom: 1rem;
      margin-bottom: 10rem;
    }

    .panel {
      margin-top: 1rem;
      margin-bottom: 1.25rem;
    }

    @media screen and (max-width: 62rem) {
      max-height: none;
    }

  }

  .sidebar-toggle {
    display: none;
  }

  footer {
    display: none !important;
  }

  .modal__overlay {
    // background: transparent;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 50;
  }

  .modal__container:not(.modal__container--square) {
    max-height: 100%;
    border-radius: 0;
    display: grid;
    grid-template:"header" auto "main" 1fr "footer" auto/minmax(0,1fr);
  }

  .modal__content {
    max-height: none;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .modal__header, .modal__footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .panel.options {
    li {
      text-align: center;
    }
    button {
      width: 100%;
      max-width: 30rem;
      text-align: center;
      // padding-left: 35%;

      i.icomoon {
        margin-right: 0.25rem;
      }

      & > span {
        // width: 50%;
        white-space: nowrap;
        display: inline-block;
        // text-align: left;
      }
    }
  }

  .form-inline {
    input[type="text"], button {
      display: block;
      // margin-top: 0.5rem;
      margin-left: 0;
    }

    input[type="text"] + button {
      margin-left: 0;
    }
  }

  nav.pagination-container {
    // grid-template-columns: auto;
    // justify-content: center;
    display: block;

    .page-advance-link {
      text-align: left;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}

@media only screen and (max-width: 62rem) {
  main {
    .container:not(.container-boxed) {
      margin-top: 0 !important; 
    }
  }

  #ht-search-form {
    margin-top: 1rem;
  }

  html[data-sidebar-expanded="true"] {
    #sidebar:not(.sidebar-container--right) {
      // width: 95%;
      // margin-left: auto;
      // margin-right: auto;
      box-shadow: 0px 3px 4px 5px rgba(0,0,0,0.29);

      button.sidebar-toggle-button[aria-expanded][aria-expanded="true"] {
        left: 0;
        width: 100%;
      }
    }
  }
}



