
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  overflow: auto;
  width: 100vw;
  // height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  background: $body-bgcolor;
  font-family: $base-font-family;
  color: $text-color;
  min-height: 100vh;
  min-width: 20rem;
  width: 100vw;
  // overflow: hidden;
  line-height: 1.25;
}

$outline-color: #4d90fe;
:focus {
  outline: $outline-color auto 5px;
  // outline: --webkit-focus-ring-color auto 5px;
}

section:focus:not(.focus-visible) {
  outline: none;
}

#root {
  min-height: 100vh;
  max-width: 100vw;
  display:-ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 1fr;
  grid-template: 'header' 'main' 'footer'/1fr;
}

@media (min-width: 45em) {
    #root {
        // grid-template:"header header" auto "sidebar main" 1fr "footer footer" auto/minmax(10rem,18rem) minmax(0,1fr)
        -ms-grid-rows: auto 1fr auto;
        grid-template:"header" auto "main" 1fr "footer" auto;
    }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

ul.bullets {
  list-style: disc;
  margin: 1.5em 1.5em 1.5em 1.5em;

  li ul {
    margin: 0 1.5em;
  }
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;
  }
}

li ul, li ol {
  margin:0 1.5em;
}
ul, ol {
  margin:0 1.5em 1.5em 1.5em;
}
ul {
  list-style-type:disc;
}
ol {
  list-style-type:decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}

li.only-collapsed {
  display: none;
}


p + p {
  margin-top: 1rem;
}

p.larger {
  font-size: 1.2rem;
}

p.smaller {
  font-size: 0.9rem;
}

a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
      color: $link-hover-color;
      text-decoration: none;
  }

  // &:focus {
  //   outline: medium solid;
  // }
}

.sr-only, .offscreen, .SkipLink, .hidden, .toolbar-label {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

::-webkit-input-placeholder {
  color: #777;
  opacity: 1; 
}

:-moz-placeholder { /* Firefox 18- */ 
  color: #777;
  opacity: 1; } 

::-moz-placeholder { /* Firefox 19 */
  color: #777; opacity: 1; } 

:-ms-input-placeholder { 
  color: #777;
  opacity: 1; 
}

input[type=date], input[type=email], input[type=search], input[type=tel], input[type=text], input[type=number], textarea {
    margin: 0;
    font-size: 1rem;
    border: 1px solid #0000004d;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.08);
    border-radius: 4px;
    padding: .5rem .75rem;
    line-height: 1.4;
    width: 100%;
}

input[type=text], input[type=search], input[type=email], textarea {
  font-family: $base-font-family;
}

input.input-mini {
  width: 4rem;
}

input.input-small {
  width: 9rem;
}

button {
  font-size: 1rem;
  color: #333;
}

button:not([class]), input[type=submit], a.btn, button.btn, button.btn-dismiss {
  display: inline-block;
  margin: 0;
  padding: .5rem 1rem;
  background: #f5f5f5; // #126dc1;
  color: #333; // #fff;
  font-size: 1rem;
  border-radius: 4px;
  // border: none;
  // border-bottom: 3px solid #0c5292;
  border: 1px solid #bbb;
  border-color: #00000026 #00000026 #00000040;
  cursor: pointer;
  text-decoration: none;
  line-height: inherit;

  &:hover, &:focus, &.active {
    // background: #d4d4d4;
    background: #333;
    color: #f5f5f5;
  }
}

.btn.btn-primary {
  background: #666;
  border-color: #333 #333 #000;
  color: #eee;

  &:hover, &:focus {
    background: #000;
  }
}

.btn.btn-mini {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.btn.btn-sm {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

.button-link, .button-link-light {
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
    line-height: inherit;
}

.button-link-light {
    color: #4e4e4e;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

button[disabled], a[disabled] {
  opacity: 0.65;
  pointer-events: none;
  cursor: default;
}

input[type=text] + button {
  margin-left: 0.25rem;
}

blockquote {
  margin:0 1.5em 1.5em 1.5em;
}

main {
  -ms-grid-row: 2;
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: $body-bgcolor;
}

header.site-navigation, footer.site-navigation {
  background: $navbar-bgcolor;
  color: $navbar-color;
  // nav {
  //   padding: 0 0.5rem; // 0.5rem;
  //   margin: 0 auto;
  //   // max-width: 80vw;
  //   max-width: 62rem;
  //   display: flex;
  //   justify-content: space-between;
  // }
}

header.site-navigation {
  -ms-grid-row: 1;
  grid-area: header;
  z-index: 25;


  // nav {
  //   > ul + ul::before {
  //     content: "";
  //     display: block;
  //     border-left: 1px solid #6b6a6b;
  //     margin-right: 1rem;
  //     margin-left: -2rem;
  //   }
  // }
}

footer.site-navigation {
  z-index: 1;
  -ms-grid-row: 3;
  grid-area: footer;
  nav {
    justify-content: flex-end;
    // font-size: 0.75rem;
  }
}

// header {
//   .nav {

//     @media screen and (min-width: 62rem) {
//       li.nav-branded-home-link {
//         display: none;
//       }
//     }

//     @media screen and (max-width: 62rem) {
//       li.nav-home-link {
//         display: none;
//       }
//     }
      
//   }
// }

%home-link-logo-component {
  background-image: url(/common/unicorn/img/HT-logo-square-sm.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  border: 1px dotted transparent;
  height: 35px;
  width: 37px;
  padding: 0;
  margin-right: 0.5rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.home-link {

  display: flex;
  align-items: center;

  &::before {
    @extend %home-link-logo-component;
  }

  &.always-branded {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    &::before {
      margin-right: 0;
    }
  }

  & > span {
    padding: 0;
    display: inline-block;
  }

  @media screen and (min-width: 62rem) {
    &:not(.include-branding) {
      &::before {
        display: none;
      }
    }
  }

  @media screen and (max-width: 62rem) {
    & > span.home-link-label {
      position: absolute !important;
      height: 1px; width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
    }

    &::before {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      margin-right: 0;
    }
  }


}

.home-link-XXX {

  background-image: url(/common/unicorn/img/HT-logo-square-sm.png);
  background-repeat: no-repeat;
  display: block;
  border: 1px dotted #0000;
  height: 35px;
  width: 40px;
  padding: 0;
  margin-top: 2px;

  &:hover {
    background-image: url(/common/unicorn/img/HT-logo-square-sm.png) !important;
    border-bottom: 1px solid #fff;
  }
}

$navbar-item-padding: 0.5rem 1rem;
$navbar-item-margin: 0.25rem 0.25rem 0.25rem;
header nav, footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    font-size: 100%;
  }

  & > ul {
    justify-content: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    // justify-content: center;

    span {
      padding: $navbar-item-padding;
      margin: $navbar-item-margin;

      display: block;

      &.institution-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 15rem;
      }
    }
    a {
      // padding: 0.8rem 1rem;
      padding: $navbar-item-padding;
      margin: $navbar-item-margin;

      // position: relative;

      white-space: nowrap;

      color: $navbar-link-color;
      text-decoration: none;
      display: block;

      &:hover {
        background: $navbar-bgcolor-hover; // #F9F8F5;
        color: $navbar-link-hover-color; // #39383A;
      }

      &.action-login {
        background: $login-bgcolor;
        color: #000; // $text-color;
        padding: 0.4rem 1rem;
        // padding-top: 0.6rem;
        // padding-bottom: 0.6rem;
        border-radius: 4px;
        border: 1px solid #bbb;
        border-color: #00000026 #00000026 #00000040;

        text-transform: uppercase;

        &:hover, &:focus {
          background: #fde26e;
          border-color: #fcde5b;
        }
      }

      &.action-home {
        background-image: url(https://babel.hathitrust.org/pt/graphics/HT-logo-square-sm.png);
        background-repeat: no-repeat;
        height: 35px;
        width: 40px;
        border: 1px dotted #ddd;
        margin-top: 4px;
      }

    }
  }

  // .nav-menu {
  //   // position: relative;

  //   // &:hover, 
  //   &.active {
  //     .navbar-menu-children {
  //       display: flex;
  //       position: absolute;
  //       left: 5rem; // this is a guess
  //     }
  //   }
  // }

  // .navbar-menu-children {
  //   position: absolute;
  //   left: 0;
  //   top: auto;
  //   width: inherit;
  //   z-index: 50;
  //   flex-direction: column;
  //   background: $navbar-bgcolor;
  //   display: none;
  // }

  // form {
  //   display: flex;
  //   margin-left: 8px;
  //   margin-right: 8px;
  //   // flex-basis: 50%;
  //   flex-grow: 1;

  //   input[name=q1] {
  //     width: 100%;
  //     display: inline-block;
  //     margin-right: 0.25rem;
  //   }
  //   label {
  //     display: inline-block;
  //   }

  //   select {
  //     font-size: 100%;
  //     height: 100%;
  //     margin-right: 0.25rem;
  //   }

  // }
}

.btn-group {
  button {
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f5f5f5;
    border: 1px solid #bbb;
    border-radius: 0;
    color: #333;

    & + button {
      margin-left: -0.5rem;
    }

    &:hover:enabled, &:focus:enabled {
      z-index: 2;
      text-decoration: none;
      // background-position: 0 -15px;
      background: $navbar-bgcolor;
      color: #fff;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-left: 0;
    }

    &:last-child, &.dropdown-toggle {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.alone {
      border-radius: 4px;
    }
  }

  &.btn-group-vertical {
    flex-direction: column;
    display: flex;

    button {
      text-align: center;
      width: 3rem;
      height: 2.8rem;

      & + button {
        margin-left: 0;
        margin-top: -5px;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
        border-bottom-left-radius: 4px;
      }

      &.alone {
        border-radius: 4px;
      }
    }
  }
}

.share-toolbar {
  button {
    font-size: 100%;
    padding: 0.5rem 0.75rem;
  }
}

.caret {
  display: inline-block;
  padding: 0;
  margin: 0;
  &::before {
    content: "\25BC";
    display: inline-block;
    font-size: 50%;
  }
}

/* UTILITY */

.flex-container {
  display: block; }
  @media (min-width: 980px) {
    .flex-container {
      display: -ms-flexbox;
      display: flex; } }

.flex-container-expanded {
  flex-grow: 1;
}

.sidebar-container {
  width: auto; // /100%;
  margin-right: 1rem; }
  @media (min-width: 980px) {
    .sidebar-container {
      max-width: 18rem; } }


.container {
  margin: 0 auto;
  padding: 0 .75rem;

  &.container-boxed {
    background: #fffefb;
    border: 1px solid #d5d3d3;
    box-shadow: rgba(0,0,0,0.1) 0 1px 10px;

    padding: 1rem;

    position: relative;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.75rem;
  width: 100%;
  padding: 1rem;
}

.container-boxed {
  width: 98%;
  .sidebar-container {
    border-right: 1px solid #ddd;
    &.sidebar-container--right {
      border-right: none;
      border-left: 1px solid #ddd;
      margin-left: 1rem;
      margin-right: auto;
      padding-right: 1rem;
      padding-left: 1rem;

      @media screen and ( max-width: 28rem ) {
        border-left: none;
        width: auto;
      }
    }
  }

  .section-container {
    margin: 1.5rem 2rem;
    flex-grow: 1;
  }
}

.container-medium {
  max-width: 75rem;
}

.container-narrow {
  max-width: 60rem;
}

.results-summary-container {
    margin-bottom: .75rem;
    padding: .5rem 1.25rem;
    background-color: #f9f8f5;
    color: #565656;
    border-color: #666;

    // background: #fff;
    // background: #fafafa;
    // border-radius: 4px;
}

.results-container-inner {
  padding: .5rem 1.25rem;
}

@media (min-width: 600px) {
.results-summary-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
}

.padded {
  margin-bottom: 1rem;
}

.btn-loading {
  padding-right: 34px !important;
  background-image: url(/common/unicorn/img/throbber-dark.gif) !important;
  background-repeat: no-repeat !important;
  background-position: 90% 50% !important;
}

.btn-dark.btn-loading {
  background-image: url(/common/unicorn/img/throbber.gif) !important;
}

.toolbar {
  .btn-loading {
    background-image: url(/common/unicorn/img/throbber-dark.gif) !important;
    background-repeat: no-repeat !important;
    background-position: 90% 50% !important;
  }
}

.hide {
  display: none;
}


table {
  td {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
