$min-desktop-width: 64rem;

// html.desktop.no-mobile {
@media (min-width: 64em) {

  body {
    min-width: $min-desktop-width;
  }

  .flex-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }

  .sidebar-container {
    max-width: 18rem;
  }

  .for-mobile {
    display: none !important;
  }


  main > .container {
    min-width: $min-desktop-width;
  }


}
