symbol g {
    fill: currentColor;
}

.active-filter-symbol g {
    fill: #057c42;
}

.sidebar-container {

  overflow: auto;

  display: flex;
  flex-direction: column;
  // height: 100%;
  // overflow: hidden;

  margin-top: 1.5rem;
  margin-bottom: 2rem;
  min-width: 18rem;

  padding-right: 0.25rem;

  #mdpBackToResults {
    width: 95%;
    margin: 0 auto;

    p {
      margin: 1rem 1rem 0.5rem;
    }
  }

  > h2 {
    width: 95%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .collection-branding {
    padding: 0 1rem;
    margin: 0 auto;
    img {
      padding: 4px;
      border: 1px solid #ccc;
    }
  }

  .panel {
    padding: 0 1rem;
    margin: 0 0 1rem;
    width: 95%;
    max-width: 30rem;

    h2, h3 {
      font-size: 1.1rem; // font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 0.75rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.25rem;
      margin-top: 0;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p:first-of-type, p:first-child {
      margin-top: 0;
    }

    p + p {
      margin-bottom: 0;
    }

    ul {
      // margin-bottom: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      position: relative;
    }

    li + li {
      //margin-top: 0.25rem;
      margin-top: 0.5rem;
    }

    form {
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;

      label {
        display: block;
        margin-bottom: 0.25rem;
      }

      input[type=text] {
        margin-bottom: 1rem;
      }
    }

    select {
      width: 100%;
      font-size: 1rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

  }

  .scrollable {
    // overflow: auto;
    margin-bottom: 1rem;
    // overflow: auto;
    // overflow-x: hidden;
  }

  .active-filters-heading, .filters-heading {
      padding: .75rem 1rem;
      margin: 0;
      // background: #fafafa;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5;
  }

  h2.filters-heading {
    font-size: 1.125rem;
    padding-bottom: 0.75rem;
  }

  .active-filters-list, .filter-list {
      margin: 0;
      padding-top: 0;
      list-style: none;
  }

  .active-filter-item, .filter-item {
      padding: 0;
      margin: 0;
      margin-bottom: 0.25rem
  }

  .active-filter-item {
      margin: 0 1rem;
      padding-bottom: .5rem;
  }

  .active-filters-list {
    .filter-action {
      margin: 0 1rem;
      padding-bottom: .5rem;

      button {
        font-size: .85rem;
        border-radius: 0;
        border: none;

        span {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }

  .active-filter-button {
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      width: 100%;
      padding: .75rem 1rem;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background: #e2f4eb;
      border: 1px solid rgba(5,124,66,.4);
      border-radius: 4px;
      white-space: normal;
  }

  .active-filter-button-text {
      font-size: .9rem;
      color: #057c42;
      text-align: left;
      max-width: 90%;
  }

  .offpage {
      position: absolute;
      left: -999em;
  }

  .active-filter-button .icon {
      width: .8rem;
      height: .8rem;
  }


  .filter-group-list {
      margin: 0;
      margin-right: 0.5rem;
      padding: 0;
      list-style: none;

      .icon {
          width: 1rem;
          height: 1rem;
      }

      .icon g, symbol g {
          fill: currentColor;
          fill: #666;
      }

      label {
          color: #262626;
          display: block;
          margin: 0;
          width: 100%;

          // justify-content: center;
          align-items: center;

          span {
            align-self: flex-start;
          }

          & > span {
            align-self: center;
          }
      }

      button.checkbox-label {
        color: #262626;
        display: flex;
        cursor: pointer;

        margin: 0;
        width: 100%;

        border: none;
        padding: 0;
        background: transparent;

        // justify-content: center;
        align-items: center;

        span {
          align-self: flex-start;
        }

        & > span {
          align-self: center;
        }
      }

      .checkbox-label {
          display: -ms-flexbox;
          display: flex;
          cursor: pointer;
      }

      .checkbox {
          margin-right: .5rem;
          cursor: pointer;
      }


  }

  .filter-group {
      // background: #fafafa;
      margin: 0;
      padding: 0;
  }

  .filter-group-checkbox {
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      margin-bottom: 0;
      padding: 0 1rem .5rem;
  }

  .filter-group-multiselect {
      border-top: 1px solid #e5e5e5;
  }

  .filter-group-toggle-show-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      padding: .75rem 1rem;
      width: 100%;
      cursor: pointer;
      border: none;
      background: none;
  }

  .flex-space-between {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }

  .flex-center {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
  }

  .filter-group-heading {
      margin: 0;
      // background: #fafafa;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5;
  }

  .filter-group-toggle-show-button .icon g {
      fill: #4e4e4e;
  }

  .filter-group-toggle-show-button[aria-expanded="false"] + .filter-list-container {
    display: none;
  }

  .filter-list-container {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;

      ul {
        li.filter-item:nth-child(1n+6) {
          display: none;
        }

        li.filter-action {
          .show-fewer-button__text {
            display: none;
          }
        }
      }

      ul.filter-list--expanded {
        li.filter-item {
          display: list-item;
        }

        li.filter-action {
          .show-fewer-button__text {
            display: inline-block;
          }
          .show-all-button__text {
            display: none;
          }
        }
      }
  }

  .filter-button {
      background: none;
      border: none;
      text-align: left;
      padding: 0;
      width: 100%;
      padding: .15rem 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      cursor: pointer;
  }

  .show-all-button {
      font-size: .85rem;
      border-radius: 0;
      border: none;
  }

  .filter-list-container .button-link-light {
      margin-top: .5rem;
  }

  .filter-value {
      margin-right: .5rem;
      word-break: break-word;
      color: $link-color; // #126dc1;
  }

  .show-all-button__text {
      border-bottom: 1px solid #ccc;
  }

}

html.gt-ie10, html.ios9 {
  // #sidebar {
  //   overflow: auto;
  // }

  #sidebar {
    display: block;
  }

  .scrollable {
    // margin-top: 8rem;
    // overflow: visible;
  }

  .bibLinks {
    // height: 100%;
  }
}

.help-block {
  display: block;
  margin-bottom: 1rem;
}

.share-toolbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

// #action-clear-selection {
//   position: absolute;
//   right: 0;
//   margin-left: -8px;
//   visibility: hidden;
// }

@media only screen and (max-width:62em) {
  .share-toolbar {
    justify-content: left;

    &.btn-group button + button {
      margin-left: 0;
    }

    &.btn-group button {
      min-width: 2.875rem;
      min-height: 2.875rem;
      margin-right: 0.5rem;
    }
  }
}

@media only screen and (max-width: 62em) {
  .sidebar-container .collection-branding {
    display: none;
  }
}

.modal {
  ul {
    li + li {
      margin-top: 0.5rem;
    }
  }
}
