.uber-tooltip {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;

  background: #fdd116;
  color: #000;
  text-align: center;
  font-size: 2rem;
  z-index: 10000;
}

.tooltip {

  &.left {
    // right: 5.2rem;
  }

  &.bottom {

  }

  .tooltip__close {
    margin-left: 0.25rem !important;
    padding: 4px 8px;
    background: transparent;
    border: 0;
    color: #000;
    height: auto !important;
    width: auto !important;
    display: inline-block !important;

    &:before { content: "\2715"; }
  }

  position: fixed;
  width: auto;
  background: #fdd116;
  color: #000;
  text-shadow: none;
  font-weight: bold;

  z-index: 999;

  padding: 0.5rem;

  box-shadow: 0 5.5px 5px
    rgba(0, 0, 0, 0.116), 0 44px 40px
    rgba(0, 0, 0, 0.27);
}
