.advanced-search-form {
  margin-bottom: 2rem;

  h3 {
    margin: 1rem 0;
  }

  button[kind="primary"] {
    margin: 2rem 0;
  }

  & > fieldset {
    margin: 1rem 0;
  }
}

.advanced-input {
  border: 1px solid rgba(0,0,0,.3)
}

.advanced-heading {
  margin: 1rem 0;
  font-weight: 600
}

@media (max-width: 820px) {
  .advanced-heading {
    margin:.5rem 0
  }
}

.advanced-input-container {
  display: flex;
  width: 100%;
}

@media (max-width: 820px) {
  .advanced-input-container {
    display:block
  }

  .advanced-input-container .advanced-field-select {
    width: 100%;
    margin-bottom: .5rem
  }
}

.advanced-search-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center
}

.advanced-search-button {
  display: flex;
  align-items: center
}

.advanced-search-button .icon {
  margin-right: .5rem
}

.advanced-add-field-container {
  margin-top: 1.5rem
}

.advanced-field-select {
  margin-right: 1rem;
  min-width: 12rem;
  width: auto;
}

.advanced-search-filters-container {
  margin-top: 2rem;
  border-top: 2px solid #e5e5e5
}

.advanced-search-filter-container {
  width: 100%;
  margin-bottom: 2rem
}

@media (min-width: 600px) {
  .advanced-search-filter-container {
    width:calc(50% - 1rem)
  }
}


.advanced-filter-inner-container {
  border-radius: 4px
}

.advanced-filter-label-text {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: .5rem
}

.advanced-filters-inner-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -2rem
}

.advanced-filter-fieldset select {
  width: 100%
}

.advanced-fields-container {
  padding: 1.5rem;
  border-radius: 4px
}

.advanced-input-remove-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.advanced-input-remove-container>div {
  display: -ms-flexbox;
  display: flex
}

.advanced-field-container fieldset {
  margin: 1rem 0
}

.advanced-field-container fieldset:first-child {
  margin-top: 0
}

@media (min-width: 600px) {
  .advanced-field-container fieldset {
    text-align:center
  }
}

.multiselect {
  border-radius: 4px;
}

input.multiselect-search {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.multiselect-options {
  margin: 0;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: .5rem;
  background: #fff;
  height: 22rem;
  overflow-y: scroll
}

.multiselect-options .checkbox-label {
  display: flex;
  font-size: .9rem;
  cursor: pointer;
  padding-right: 1rem
}

.multiselect-options-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.multiselect-options-list-item {
  margin: 0;
  padding: 0;
  position: relative;
  // margin-bottom: .1rem

  label {
    margin: 0;
    width: 100%;
  }
}

.multiselect-options-list-item .checkbox {
  margin-top: .15rem
}

.multiselect-options-list-item .checkbox-label:hover .filter-name {
  text-decoration: underline
}

.multiselect-show-checked-toggle {
  margin-top: .5rem;
  font-size: .9rem
}

.date-range-input fieldset {
  text-align: left;
}

input.date-range-input-text {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 40%
}

.date-range-input .switch-options {
  justify-content: flex-start
}

.date-range-container {
  display: flex
}

.date-range-input-text:first-child {
  margin-right: 1rem
}

.choice-container {
  text-align: center;

  > div {
    display: inline-block;
  }
}
