@import "./components/variables";
@import "../../vendor/reset.css";
@import "../unicorn/vendor/icomoon/style.scss";
@import "./components/reset";
@import './components/skiplinks';
@import "./components/alerts";
@import "./components/modal";
@import "./components/nav";
@import "./components/form";
@import "./components/login";
@import "./components/sidebar";
@import "./components/search";
@import "./components/advanced_search_form";
@import "./components/drupal";
@import "../../vendor/selectwoo/dist/css/selectWoo.scss";

@import "./components/responsive";

.logo {
  width: 14rem;
  padding-right: 2rem;
}

.logo a {
  background-image: url(/common/unicorn/img/HT-logo.png);
  background-repeat: no-repeat;
  display: block;
  border: 1px dotted transparent;
  height: 4.75rem;

  &:hover {
    border: 1px dotted $link-color;
  }
}
