@import "./components/variables";
@import "../../vendor/reset.css";
@import "../unicorn/vendor/icomoon/style.scss";
@import "./components/reset";
@import './components/skiplinks';
@import "./components/alerts";
@import "./components/modal";
@import "./components/tooltips";
@import "./components/nav";
@import "./components/form";
@import "./components/login";
@import "./components/sidebar";
@import "./components/search";
@import "./components/advanced_search_form";
@import "./components/drupal";
@import "../../vendor/selectwoo/dist/css/selectWoo.scss";

@import "./components/responsive";

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
$link-color: #924a0b;
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";

html[data-activated="enhancedTextProxy"] body {
  background-image: url('/common/mdp/enhancedTextProxy.svg');

  #root {
    border: 2rem solid rgba(255, 165, 0, 0.25);
  }

  a.action-switch-role {
    background: orange;
    border: 1px solid darkorange;
    color: #000;
  }
}

a.action-switch-role {
  border: 1px solid #eee;
  border-radius: 0.25rem;
}

.logo {
  width: 14rem;
  padding-right: 2rem;

  a {
    background-image: url(/common/unicorn/img/HT-logo.png);
    background-repeat: no-repeat;
    display: block;
    border: 1px dotted transparent;
    height: 4.75rem;

    &:hover {
      border: 1px dotted $link-color;
    }
  }
}

.wait-for-it {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .75);
  z-index: 1000;

  &::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    -webkit-animation: wait-u60529e3f 1s linear alternate infinite;
            animation: wait-u60529e3f 1s linear alternate infinite;
    top: 50%;
    margin: 0 auto 0;
  }
}

@-webkit-keyframes wait-u60529e3f {
  0% {
    -webkit-box-shadow: -60px 40px 0 2px #EF7C22, -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 2px #EF7C22, -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  25% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 2px #EF7C22, 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 2px #EF7C22, 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  50% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 2px #EF7C22, 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 2px #EF7C22, 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  75% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 2px #EF7C22, 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 2px #EF7C22, 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  100% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 2px #EF7C22;
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 2px #EF7C22;
  }
}

@keyframes wait-u60529e3f {
  0% {
    -webkit-box-shadow: -60px 40px 0 2px #EF7C22, -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 2px #EF7C22, -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  25% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 2px #EF7C22, 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 2px #EF7C22, 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  50% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 2px #EF7C22, 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 2px #EF7C22, 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  75% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 2px #EF7C22, 60px 40px 0 0 rgba(239, 124, 34, 0.751);
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 2px #EF7C22, 60px 40px 0 0 rgba(239, 124, 34, 0.751);
  }
  100% {
    -webkit-box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 2px #EF7C22;
            box-shadow: -60px 40px 0 0 rgba(239, 124, 34, 0.751), -30px 40px 0 0 rgba(239, 124, 34, 0.751), 0 40px 0 0 rgba(239, 124, 34, 0.751), 30px 40px 0 0 rgba(239, 124, 34, 0.751), 60px 40px 0 2px #EF7C22;
  }
}

