$twocol-breakpoint: 54em;

html,
body {
  padding: 0;
  height: 100%;
}

.apps {
  transition: visibility 0s linear 100ms, opacity 150ms;

  &[data-initialized='true'] {
    visibility: visible !important;
    opacity: 1 !important;
  }

  #root {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'footer';
  }

  hathi-website-header {
    grid-area: header;
  }

  hathi-website-footer {
    grid-area: footer;
  }

  .main {
    grid-area: main;
    display: grid;
    grid-template: auto auto / 1fr;
    padding-block: 0.75rem var(--pb);
    --pb: 2.5rem;

    @media (min-width: 48em) {
      --pb: 3.75rem;
    }
  }

  .twocol {
    display: flex;
    flex-wrap: wrap;
    // --- in the wordpress, 1/1 is the <nav>
    // -- revisit this when talk about breadcrumbs
    // grid-area: 2 / 1;
    // gap: 3.125rem;
    gap: 1.5rem;
    align-items: start;
    margin-top: 2.625rem;
    margin-inline: max(
      clamp(0.938rem, calc(0.268rem + 3.348vw), 1.875rem),
      ((100% - 73.125rem) / 2)
    );

    // Phire is 48em, but that might assume a main
    // column that wraps more than HTDL
    @media (min-width: $twocol-breakpoint) {
      flex-wrap: nowrap;
    }
  }

  .twocol.single {
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &.twocol-main {
      flex-basis: auto;
    }
  }

  .twocol > * > *:first-child {
    margin-top: 0;
  }

  .twocol-side {
    display: grid;
    flex-grow: 1;
    // gap: 1.875rem;
    gap: 1rem;

    @media (min-width: 54em) {
      flex-shrink: 0;
      flex-basis: 18.75rem;
      // gap: 3rem;
      gap: 1rem;
    }
  }

  .twocol-main {
    display: grid;
    flex-grow: 1;
    gap: 1.875rem;

    @media (min-width: $twocol-breakpoint) {
      flex-basis: 43.75rem;
      gap: 2.625rem;
    }
  }

  .twocol-main > * {
    // max-width: 43.75rem;
  }

  #action-toggle-filters {
    &[aria-expanded='false'] .is-expanded {
      display: none;
    }

    &[aria-expanded='true'] .not-expanded {
      display: none;
    }

    &[aria-expanded='false'] ~ * {
      display: none !important;
    }

    @media (min-width: 54em) {
      display: none;

      &[aria-expanded] ~ * {
        display: initial !important;
      }
    }
  }

  article.record {
    .metadata .grid {
      --bs-gap: 0rem;
    }

    .cover {
      width: 6rem;
      text-align: right;
      flex-shrink: 0;

      img {
        max-width: 100%;
      }
    }
  }

  a:not(.btn).d-inline-flex {
    gap: var(--bs-gutter-x);
    text-decoration: none;
    padding: 0.25rem;

    & > * {
      text-decoration: underline;
    }
  }

  a i[aria-hidden] {
    text-decoration: none;
  }

  a[data-access-role] {
    background: #924a0b;
    // border-radius: 4px;
    color: white;

    &:hover {
      background: white;
      color: #924a0b;
    }
  }

  .list-group a {
    white-space: nowrap;

    &:has(+ span) {
      border-top-right-radius: var(--bs-list-group-border-radius) !important;
      border-bottom-right-radius: var(--bs-list-group-border-radius) !important;
    }
  }

  // by default, hide the 10+nth facets
  div.filter-list {
    &[data-expanded='false'] {
      .filter-list-item:nth-child(n + 10) {
        display: none !important;
      }
    }
  }

  .sticky-bottom {
    position: sticky;
    padding: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.1);
  }

  .btable {
    min-width: 100%;
    border-spacing: 0;
    --border: 1px solid var(--color-primary-500);
  }
  .btable :is(th, td) {
    padding: 1.25rem 1rem;
  }
  .btable thead th {
    padding: 0.75rem 1rem;
  }
  .btable th {
    text-align: initial;
  }
  .btable tr:nth-child(2n) {
    background-color: var(--color-neutral-100);
  }
  .btable thead tr > * {
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: var(--color-primary-200);
  }
  .btable tbody th {
    border-right: var(--border);
    background-color: var(--color-primary-200);
  }
  .btable
    :is(thead, tbody:first-child, caption:first-child + tbody)
    tr:first-child
    > :first-child {
    border-left: var(--border);
    border-top-left-radius: 0.375rem;
  }
  .btable
    :is(thead, tbody:first-child, caption:first-child + tbody)
    tr:first-child
    > :last-child {
    border-right: var(--border);
    border-top-right-radius: 0.375rem;
  }
  .btable
    :is(tbody:first-child, caption:first-child + tbody)
    tr:first-child
    > * {
    border-top: var(--border);
  }
  .btable tbody tr > :first-child {
    border-left: var(--border);
  }
  .btable tbody tr > :last-child {
    border-right: var(--border);
  }
  .btable tbody tr:last-child > * {
    border-bottom: var(--border);
  }
  .btable tbody tr:last-child > :first-child {
    border-bottom-left-radius: 0.375rem;
  }
  .btable tbody tr:last-child > :last-child {
    border-bottom-right-radius: 0.375rem;
  }
}
